
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
      "clouderamanager-secondarynamenode": { "unique": false, "count": -1, "admin": true },
      "clouderamanager-masternamenode": { "unique": false, "count": -1 },
      "clouderamanager-edgenode": { "unique": false, "count": -1 },
      "clouderamanager-slavenode": { "unique": false, "count": -1 }
    };
    node_selector($('#drag_drop'), constraints)
  });

