%h3 Display the node information for Cloudera Manager discovery
= link_to( "Cloudera Manager nodes", "nodes") 
%p
  = render :partial => "barclamp/node_selector"

:javascript
  $(document).ready(function(){
    var constraints = { 
      "clouderamanager-masternamenode": { "unique": false, "count": -1 },
      "clouderamanager-secondarynamenode": { "unique": false, "count": -1, "admin": true },
      "clouderamanager-edgenode": { "unique": false, "count": -1 },
      "clouderamanager-slavenode": { "unique": false, "count": -1 },
      "clouderamanager-webapp": { "unique": false, "count": -1, "admin": true },
      "clouderamanager-ha-filer": { "unique": false, "count": -1, "admin": true }
    };
    node_selector($('#drag_drop'), constraints)
  });

